version: '3.8'

services:

  db:
    image: postgres:latest
    container_name: bms-db
    environment:
        POSTGRES_USER: admin-user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: bmsDB
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend-network

volumes:
  pgdata:

networks:
  backend-network:
    driver: bridge
